################################################################
#
# Necessary Python packages for QSteamKeyManager:
# https://github.com/l19980623/QSteamKeyManager
#
# You can install all required Python packages by running
# the following command in a shell:
#
#     pip install -r requirements.txt
#
################################################################

# The building blocks of the app
PyQt5>=5.13.0
PyQt5-sip>=12.7.0

# Needed to enable copying from/to clipboard
pyperclip

# Used to guess MIME type of the file
python-magic-bin; !'linux' in sys.platform
python-magic

# Support for xml files
openpyxl

# Use this also if you want mypy/PyCharm integration
PyQt5-stubs>=5.13
